h1 {
    font-size: 5em;
    opacity: 1;
    transition: opacity 10s linear;
    animation: fade 1s infinite;
  }
  
  @keyframes fade {
    0% {
      opacity: 1;
    }
    10% {
      opacity: 0.9;
      font-family: "Times New Roman", Times, serif;
      color: black;
    }
    20% {
      opacity: 0.8;
      color: green;
    }
    30% {
      opacity: 0.7;
      color: blue;
      font-family: "Comic Sans MS", cursive, sans-serif;
    }
    40% {
      opacity: 0.6;
      color: red;
    }
    50% {
      opacity: 0.5;
      color: purple;
      font-family: "Arial Black", Gadget, sans-serif;
    }
    60% {
      opacity: 0.4;
      color: black;
    }
    70% {
      opacity: 0.3;
      font-family: "Lucida Console", Monaco, monospace;
      color: #1E90FF;
    }
    80% {
      opacity: 0.2;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      color: #FFA500;
    }
    90% {
      opacity: 0.1;
      color: #FF4500;
    }
    100% {
      opacity: 0;
      color: #FF0000;
      font-family: "Times New Roman", Times, serif;
    }
  }

h2 {
    font-size: xx-large;
    -webkit-background-clip: text;
    background-color: #000000;
    -webkit-text-fill-color: wheat;
    animation: pulse 1s infinite;
}
  
  @keyframes pulse, wiggle {
    0% {
      background-position: 200% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  body {
    background: black;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        background: teal;
    }
    15% {
        background-image: -o-linear-gradient(yellow, black);
    }
    45% {
        background-color: yellowgreen;
    }
    100% {
        background: black;
    }
}

button {
    perspective: 250px;
    transform: scale(5);
    opacity: 50;
    animation: button-fade-in-out 10s infinite;
  }
  
  @keyframes button-fade-in-out {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }